@import "../form.module.scss";

.select {
  position: relative;

  /*
  .selectButton {
    @include input;
    display: flex;
    padding: 0.75rem;
    width: 100%;
    text-align: left;

  }
  */

  span.end {
    // display: inline-block;
    color: black;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    transition: transform 0.3s;
  }

  .selectMenu {
    @include input;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    display: block;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.4);
    overflow-y: auto;
    bottom: 0;

    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;

    input {
      appearance: none;
      position: absolute;
      left: -9999px;
      opacity: 0;
    }

    li {
      appearance: none;

      display: block;
      width: 100%;
      cursor: pointer;
      padding: 0.75rem;

      &.selected {
        background: #aaa;
      }
    }

    li + li {
      margin-top: 2px;
    }

    /*
    label {
      display: block;
      width: 100%;
      cursor: pointer;
      padding: 0.75rem;
    }

    input:checked ~ label,
    label:hover {
      background: #aaa;
    }
    */
  }

  &.visible {
    // visibility: visible;
    .selectMenu {
      opacity: 1;
      pointer-events: auto;
    }

    span.end {
      transform: rotate(-180deg);
    }
  }
}

@mixin dark {
  .selectMenu,
  .selectButton {
    @include input-dark;
  }
  .select {
    span.end {
      color: white;
    }

    .selectMenu {
      li.selected {
        background: #333;
      }

      /*
      input:checked ~ label,
      label:hover {
        background: #333;
      }
      */
    }
  }

  .button {
    background-color: rgb(144, 202, 249);
    color: black;

    &:hover {
      background-color: rgb(61, 151, 225);
    }
  }
}

:global(.dark) {
  @include dark;
}

@media (prefers-color-scheme: dark) {
  :global(.system) {
    @include dark;
  }
}
