@import "../form.module.scss";

.button:not(.iconButton) {
  display: inline-flex;
  vertical-align: middle;
  appearance: none;
  font-size: 1rem;
  line-height: 1.5;

  padding: 0.25rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(25, 117, 208);
  color: white;
  cursor: pointer;

  transition:
    opacity,
    background-color 0.3s;

  &:hover {
    background-color: rgb(66, 165, 245);
  }

  &.error {
    color: white;
    background-color: rgb(246, 67, 44);

    &:hover {
      background-color: rgb(211, 47, 47);
    }
  }

  &.cancel {
    background-color: #6c757d;
    color: white;

    &:focus {
      outline: dashed 2px #adb5bd;
    }

    &:hover {
      background-color: #5a6268;
    }
  }

  &:active {
    background-color: rgb(56, 145, 225);
  }

  &:disabled,
  &.disabled {
    // background-color: rgb(144, 202, 249);
    opacity: 0.5;
    cursor: default;
  }

  &.loading {
    opacity: 0.9;
  }

  &.startIcon,
  &.endIcon {
    display: inline-flex;
    align-items: center;

    .startIconSpan,
    .endIconSpan {
      display: inline-block;
      width: 20px;
      height: 20px;

      line-height: 0;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .startIconSpan {
      margin-right: 0.5rem;
      margin-left: -0.25rem;
    }

    .endIconSpan {
      margin-left: 0.5rem;
      margin-right: -0.25rem;
    }
  }
}

@mixin dark {
  .button:not(.error, .cancel) {
    background-color: rgb(144, 202, 249);
    color: black;

    &:focus {
      outline: dashed 2px rgb(41, 80, 200);
    }

    &:not(:disabled):hover {
      background-color: rgb(61, 151, 225);
    }
  }
}

:global(.dark) {
  @include dark;
}

@media (prefers-color-scheme: dark) {
  :global(.system) {
    @include dark;
  }
}

.iconButton {
  display: flex;
  align-items: center;
  border: none;
  padding: 5px;
  margin: -5px;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
  opacity: 1;

  transition:
    opacity 0.4s,
    background-color 0.4s;

  &.opaqu {
    opacity: 1;
  }
  &.transparent {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
}

.spinner {
  animation:
    spin 2s linear infinite,
    fadeInOut 3s ease-in-out infinite;
}
