.alert {
  align-items: center;
  display: flex;
  padding: 0.75rem 1rem;
  font-wieght: normal;
  font-size: 1rem;
  border-radius: 0.125rem;

  .icon {
    display: inline-block;
    padding-right: 1rem;
  }

  .text {
    display: block;
  }

  &.error {
    color: #f87171;
    color: #dc143c;
    border: solid 1px #f87171;
  }

  &.success {
    // color: rgb(60, 140, 64);
    // color: #3CB371;
    color: #32cd32;
    border: solid 1px rgb(60, 140, 64);
  }
}
